In [5]:
import pandas as pd
import geopy.distance
import numpy as np
import time
import math
from sklearn import preprocessing

In [49]:
crime_df.head()

,CMPLNT_NUM,ADDR_PCT_CD,BORO_NM,CMPLNT_FR_DT,CMPLNT_FR_TM,CMPLNT_TO_DT,CMPLNT_TO_TM,CRM_ATPT_CPTD_CD,HADEVELOPT,HOUSING_PSA,...,SUSP_SEX,TRANSIT_DISTRICT,VIC_AGE_GROUP,VIC_RACE,VIC_SEX,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,Lat_Lon
1,149013323,14.0,MANHATTAN,12/31/2018,23:40:00,12/31/2018,23:50:00,COMPLETED,NaN,NaN,...,NaN,NaN,45-64,WHITE,F,987866.0,214721.0,40.756044,-73.986950,"(40.75604353500006, -73.98694954399997)"
2,642981531,73.0,BROOKLYN,12/31/2018,23:30:00,12/31/2018,23:40:00,COMPLETED,NaN,NaN,...,F,NaN,18-24,WHITE HISPANIC,F,1006995.0,185258.0,40.675146,-73.918003,"(40.67514616200003, -73.91800323399997)"
3,429685363,67.0,BROOKLYN,12/31/2018,23:20:00,12/31/2018,23:30:00,COMPLETED,NaN,NaN,...,M,NaN,25-44,BLACK,F,999584.0,169903.0,40.633016,-73.944756,"(40.63301598000004, -73.94475559899996)"
4,290330841,5.0,MANHATTAN,12/31/2018,23:15:00,12/31/2018,23:20:00,COMPLETED,NaN,NaN,...,U,NaN,25-44,WHITE,M,986164.0,202140.0,40.721512,-73.993096,"(40.72151233500005, -73.99309646799998)"
5,304070477,46.0,BRONX,12/31/2018,23:15:00,12/31/2018,23:25:00,COMPLETED,NaN,NaN,...,F,NaN,25-44,BLACK,F,1009331.0,250025.0,40.852908,-73.909340,"(40.85290843100006, -73.90934005599996)"

In [215]:
listings_df = pd.read_csv("listings-detail.csv")

/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (43,61,62,94,95) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [216]:
listings_df.head()

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,instant_bookable,is_business_travel_ready,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,2539,https://www.airbnb.com/rooms/2539,20190306152833,2019-03-07,Clean & quiet apt home by the park,Renovated apt home in elevator building.,"Spacious, renovated, and clean apt home, one b...",Renovated apt home in elevator building. Spaci...,none,Close to Prospect Park and Historic Ditmas Park,...,f,f,moderate,f,f,6,0,5,1,0.23
1,2595,https://www.airbnb.com/rooms/2595,20190306152833,2019-03-07,Skylit Midtown Castle,"Find your romantic getaway to this beautiful, ...","- Spacious (500+ft²), immaculate and nicely fu...","Find your romantic getaway to this beautiful, ...",none,Centrally located in the heart of Manhattan ju...,...,f,f,strict_14_with_grace_period,t,t,2,1,0,1,0.38
2,3330,https://www.airbnb.com/rooms/3330,20190306152833,2019-03-07,++ Brooklyn Penthouse Guestroom ++,"This is a spacious, clean, furnished master be...","Room Features: - clean, hardwood floors - 2 la...","This is a spacious, clean, furnished master be...",none,Location is GREAT!! Right off the L train in t...,...,f,f,strict_14_with_grace_period,f,f,3,0,3,0,0.35
3,3647,https://www.airbnb.com/rooms/3647,20190306152833,2019-03-07,THE VILLAGE OF HARLEM....NEW YORK !,NaN,WELCOME TO OUR INTERNATIONAL URBAN COMMUNITY T...,WELCOME TO OUR INTERNATIONAL URBAN COMMUNITY T...,none,NaN,...,f,f,strict_14_with_grace_period,t,t,1,0,1,0,NaN
4,3831,https://www.airbnb.com/rooms/3831,20190306152833,2019-03-07,Cozy Entire Floor of Brownstone,Urban retreat: enjoy 500 s.f. floor in 1899 br...,Greetings! We own a double-duplex brownst...,Urban retreat: enjoy 500 s.f. floor in 1899 br...,none,Just the right mix of urban center and local n...,...,f,f,moderate,f,f,1,1,0,0,4.43

In [206]:
crime_df = pd.read_csv("nyc_crime.csv")

In [207]:
updated_crime_df = crime_df[np.isfinite(crime_df['Latitude'])]

In [208]:
updated_crime_df = updated_crime_df[updated_crime_df['CMPLNT_FR_DT'] > '1/15/2019']

In [209]:
updated_crime_df.head()

,CMPLNT_NUM,ADDR_PCT_CD,BORO_NM,CMPLNT_FR_DT,CMPLNT_FR_TM,CMPLNT_TO_DT,CMPLNT_TO_TM,CRM_ATPT_CPTD_CD,HADEVELOPT,HOUSING_PSA,...,SUSP_SEX,TRANSIT_DISTRICT,VIC_AGE_GROUP,VIC_RACE,VIC_SEX,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,Lat_Lon
1,149013323,14.0,MANHATTAN,12/31/2018,23:40:00,12/31/2018,23:50:00,COMPLETED,NaN,NaN,...,NaN,NaN,45-64,WHITE,F,987866.0,214721.0,40.756044,-73.986950,"(40.75604353500006, -73.98694954399997)"
2,642981531,73.0,BROOKLYN,12/31/2018,23:30:00,12/31/2018,23:40:00,COMPLETED,NaN,NaN,...,F,NaN,18-24,WHITE HISPANIC,F,1006995.0,185258.0,40.675146,-73.918003,"(40.67514616200003, -73.91800323399997)"
3,429685363,67.0,BROOKLYN,12/31/2018,23:20:00,12/31/2018,23:30:00,COMPLETED,NaN,NaN,...,M,NaN,25-44,BLACK,F,999584.0,169903.0,40.633016,-73.944756,"(40.63301598000004, -73.94475559899996)"
4,290330841,5.0,MANHATTAN,12/31/2018,23:15:00,12/31/2018,23:20:00,COMPLETED,NaN,NaN,...,U,NaN,25-44,WHITE,M,986164.0,202140.0,40.721512,-73.993096,"(40.72151233500005, -73.99309646799998)"
5,304070477,46.0,BRONX,12/31/2018,23:15:00,12/31/2018,23:25:00,COMPLETED,NaN,NaN,...,F,NaN,25-44,BLACK,F,1009331.0,250025.0,40.852908,-73.909340,"(40.85290843100006, -73.90934005599996)"

In [210]:
def find_distance(origin, destination):
    lat1, lon1 = origin
    lat2, lon2 = destination
    radius = 6371 # km

    dlat = math.radians(lat2-lat1)
    dlon = math.radians(lon2-lon1)
    a = math.sin(dlat/2) * math.sin(dlat/2) + math.cos(math.radians(lat1))* math.cos(math.radians(lat2)) * math.sin(dlon/2) * math.sin(dlon/2)
    c = 2 * math.atan2(math.sqrt(a), math.sqrt(1-a))
    dist = radius * c

    return dist

In [211]:
def find_crime_score(listing_Coord, borrough_name):
    crime_score = 0    
    specific_crime_df = updated_crime_df[updated_crime_df['BORO_NM'] == borrough_name]
    
    for index, row in specific_crime_df.iterrows():
        crime_X = row['Latitude']
        crime_Y = row['Longitude']
        crime_Coord = (crime_X, crime_Y)
        if find_distance(listing_Coord, crime_Coord) < 0.5:
            crime_score +=1

    return crime_score

In [212]:
crime_score = []
for index, row in listings_df.iterrows():
    st = time.time()
    coord = (row['latitude'], row['longitude'])
    borrough_name = row['neighbourhood_group']
    borrough_name = borrough_name.upper()
    c = find_crime_score(coord, borrough_name)
    crime_score.append(c)    
        
listings_df['crime_score'] = crime_score

KeyboardInterrupt:

In [195]:
listings_df.to_csv('listings_with_transitscore_and_crimescore.csv', sep='\t', encoding='utf-8')

In [22]:
listings_df_with_crime = pd.read_csv('listings_with_transitscore_and_crimescore.csv', sep='\t', encoding='utf-8')

In [23]:
listings_df_with_crime.describe()

,Unnamed: 0,id,host_id,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365,transitscore,crime_score
count,49748.000000,4.974800e+04,4.974800e+04,49748.000000,49748.000000,49748.000000,49748.000000,49748.000000,39260.000000,49748.000000,49748.000000,49748.000000,49748.000000
mean,24873.500000,1.738967e+07,6.058319e+07,40.729299,-73.953238,150.931796,7.064284,22.244894,1.300503,5.742261,118.296193,4.640910,340.601331
std,14361.154933,9.816381e+06,6.951425e+07,0.053860,0.044968,225.025933,20.481797,41.954729,1.563485,20.767163,134.379128,0.854305,208.530474
min,0.000000,2.539000e+03,2.571000e+03,40.499790,-74.242850,0.000000,1.000000,0.000000,0.010000,1.000000,0.000000,0.000000,0.000000
25%,12436.750000,9.004913e+06,7.426523e+06,40.690750,-73.983500,69.000000,1.000000,1.000000,0.207500,1.000000,0.000000,5.000000,184.000000
50%,24873.500000,1.834661e+07,2.899476e+07,40.723670,-73.956450,107.000000,2.000000,5.000000,0.670000,1.000000,61.000000,5.000000,298.000000
75%,37310.250000,2.609943e+07,9.698084e+07,40.763130,-73.937530,175.000000,5.000000,23.000000,1.910000,2.000000,239.000000,5.000000,460.000000
max,49747.000000,3.285890e+07,2.471184e+08,40.911690,-73.712990,10000.000000,1250.000000,588.000000,19.360000,192.000000,365.000000,5.000000,1797.000000

In [24]:
def normalize(arr):
    result = arr.copy()
    for i in range(0,len(result)):
        max_value = result.max()
        min_value = result.min()
        result[i] = (result[i] - min_value) / (max_value - min_value)
    return result

# min_max_scaler = preprocessing.MinMaxScaler()
np_arr = listings_df_with_crime['crime_score']
newnp_arr = np.array(np_arr).astype('float64')

print ("array before normalizing - {}".format(np_arr))
newnp_arr = normalize(newnp_arr)

print ("array after normalizing - {}".format(newnp_arr))
listings_df_with_crime['crime_score_normalized'] = newnp_arr
# np_scaled = min_max_scaler.fit_transform(np_val)

#listings_df_with_crime['crime_score_normalized'] = listings_df_with_crime['crime_score'].apply(lambda x: x/x.max())

array before normalizing - 0         88
1        676
2        310
3        641
4        248
5        724
6        329
7        260
8        773
9        294
10       620
11       446
12       264
13       221
14       924
15       158
16       268
17       374
18       322
19       560
20        70
21       206
22       259
23       255
24       247
25       635
26       443
27       389
28       410
29       275
        ...
49718     79
49719    307
49720    310
49721     63
49722     68
49723    109
49724    517
49725    612
49726    280
49727    257
49728    101
49729    772
49730    573
49731    322
49732     23
49733    112
49734    298
49735    298
49736    331
49737    256
49738     90
49739    376
49740    479
49741    860
49742    316
49743    182
49744    318
49745     22
49746    294
49747    377
Name: crime_score, Length: 49748, dtype: int64
array after normalizing - [0.04897051 0.37618253 0.17250974 ... 0.05835544 0.77984085 1.        ]

In [26]:
listings_df_with_crime['crime_score_normalized'].describe()

listings_df_with_crime.to_csv("listings_with_transitscore_and_crimescore_normalized.csv")

In [27]:
listings_df_with_crime

,Unnamed: 0,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,transitscore,crime_score,crime_score_normalized
0,0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.23,6,365,5,88,0.048971
1,1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,43,2019-01-02,0.38,2,365,5,676,0.376183
2,2,3330,++ Brooklyn Penthouse Guestroom ++,4177,Jbee,Brooklyn,Williamsburg,40.70856,-73.94236,Private room,70,5,39,2018-12-07,0.35,3,217,5,310,0.172510
3,3,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365,5,641,0.356706
4,4,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,239,2019-03-03,4.43,1,164,5,248,0.138008
5,5,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.11,1,12,5,724,0.402894
6,6,5099,Large Cozy 1 BR Apartment In Midtown East,7322,Chris,Manhattan,Murray Hill,40.74767,-73.97500,Entire home/apt,185,2,70,2018-12-02,0.58,1,18,5,329,0.183083
7,7,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,Private room,60,45,49,2017-10-05,0.41,1,0,5,260,0.144686
8,8,5178,Large Furnished Room Near B'way,8967,Shunichi,Manhattan,Hell's Kitchen,40.76489,-73.98493,Private room,79,2,415,2019-02-17,3.47,1,158,5,773,0.430161
9,9,5203,Cozy Clean Guest Room - Family Apt,7490,MaryEllen,Manhattan,Upper West Side,40.80178,-73.96723,Private room,79,2,118,2017-07-21,1.02,1,0,5,294,0.163606
10,10,5216,Super Large APT,7510,Tonya,Manhattan,Flatiron District,40.74357,-73.98999,Entire home/apt,126,26,35,2018-12-31,0.29,5,365,5,620,0.345019
11,11,5238,Cute & Cozy Lower East Side 1 bdrm,7549,Ben,Manhattan,Chinatown,40.71344,-73.99037,Entire home/apt,150,1,155,2019-01-30,1.34,4,220,5,446,0.248191
12,12,5295,Beautiful 1br on Upper West Side,7702,Lena,Manhattan,Upper West Side,40.80316,-73.96545,Entire home/apt,135,5,45,2019-03-02,0.38,1,43,5,264,0.146912
13,13,5435,Upper West Side-Unique One Bedroom,7987,Carla,Manhattan,Upper West Side,40.80155,-73.97000,Entire home/apt,145,7,26,2018-08-31,0.22,1,294,5,221,0.122983
14,14,5441,Central Manhattan/near Broadway,7989,Kate,Manhattan,Hell's Kitchen,40.76076,-73.98867,Private room,85,3,173,2019-02-17,1.42,1,3,5,924,0.514190
15,15,5803,"Lovely Room 1, Garden, Best Area, Legal rental",9744,Laurie,Brooklyn,South Slope,40.66829,-73.98779,Private room,89,4,162,2018-11-17,1.35,3,294,5,158,0.087924
16,16,6021,Wonderful Guest Bedroom in Manhattan for SINGLES,11528,Claudio,Manhattan,Upper West Side,40.79826,-73.96113,Private room,85,2,100,2018-12-18,0.84,1,357,5,268,0.149137
17,17,6090,West Village Nest - Superhost,11975,Alina,Manhattan,West Village,40.73530,-74.00525,Entire home/apt,175,100,27,2018-10-31,0.23,1,140,5,374,0.208125
18,18,6848,Only 2 stops to Manhattan studio,15991,Allen & Irina,Brooklyn,Williamsburg,40.70837,-73.95352,Entire home/apt,140,2,127,2019-02-27,1.07,1,183,5,322,0.179188
19,19,6990,UES Beautiful Blue Room / Oak Room,16800,Cyn,Manhattan,East Harlem,40.78962,-73.94802,Private room,75,30,229,2018-09-15,2.01,2,305,5,560,0.311630
20,20,7036,Large Guest Room for Broolyn Condo,53179,Ed And Kiko,Brooklyn,Kensington,40.64522,-73.98293,Private room,65,3,4,2011-09-20,0.04,3,365,5,70,0.038954
21,21,7097,Perfect for Your Parents + Garden,17571,Jane,Brooklyn,Fort Greene,40.69169,-73.97185,Entire home/apt,215,2,182,2019-02-24,1.64,1,320,4,206,0.114636
22,22,7322,Chelsea Perfect,18946,Doti,Manhattan,Chelsea,40.74687,-74.00595,Private room,140,1,246,2018-09-09,2.08,1,0,4,259,0.144129
23,23,7726,Hip Historic Brownstone Apartment with Backyard,20950,Adam And Charity,Brooklyn,Crown Heights,40.67592,-73.94694,Entire home/apt,99,3,36,2019-03-03,4.62,1,13,4,255,0.141903
24,24,7801,Sweet and Spacious Brooklyn Loft,21207,Chaya,Brooklyn,Williamsburg,40.71842,-73.95718,Entire home/apt,299,3,9,2011-12-28,0.08,1,0,5,247,0.137451
25,25,7970,Chic Chelsea,10496,Cee,Manhattan,Flatiron District,40.74300,-73.99065,Entire home/apt,120,35,38,2018-09-20,0.33,1,214,5,635,0.353367
26,26,8024,CBG CtyBGd HelpsHaiti rm#1:1-4,22486,Lisel,Brooklyn,Park Slope,40.68069,-73.97706,Private room,130,2,124,2019-01-02,1.08,4,348,5,443,0.246522
27,27,8110,CBG Helps Haiti Rm #2,22486,Lisel,Brooklyn,Park Slope,40.68001,-73.97865,Private room,100,2,64,2018-12-11,0.57,4,282,5,389,0.216472
28,28,8343,"Quiet, Spacious 3BR, 1.5 BA EV apt w/yard",24222,Lori,Manhattan,East Village,40.72484,-73.98059,Entire home/apt,211,3,16,2019-01-18,0.17,3,4,4,410,0.228158
29,29,8490,"MAISON DES SIRENES1,bohemian apartment",25183,Nathalie,Brooklyn,Bedford-Stuyvesant,40.68371,-73.94028,Entire home/apt,120,2,79,2019-02-18,0.68,2,206,5,275,0.153033
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49718,49718,32841152,Shared room for Guys,51596474,Sam,Brooklyn,Gravesend,40.58496,-73.97268,Shared room,25,14,0,NaN,NaN,18,364,5,79,0.091860
49719,49719,32841315,Beautiful Studio By central park with elevator...,137123572,Dan,Manhattan,Upper West Side,40.78381,-73.97636,Entire home/apt,100,30,0,NaN,NaN,3,126,5,307,0.356977
49720,49720,32841481,Cozy Studio by Central Park! Elevator Building...,137123572,Dan,Manhattan,Upper West Side,40.78378,-73.97651,Entire home/apt,100,30,0,NaN,NaN,3,133,5,310,0.360465
49721,49721,32841690,Beautiful bed room and separate bathroom,233227636,Waqas,Brooklyn,Flatlands,40.62460,-73.92709,Private room,40,1,0,NaN,NaN,2,4,2,63,0.073256
49722,49722,32841707,Spacious apartment with indoor parking,247064022,Sunny,Queens,Flushing,40.74551,-73.82662,Entire home/apt,189,2,0,NaN,NaN,1,105,2,68,0.079070
49723,49723,32842295,Beautiful bedroom and full bathroom,233227636,Waqas,Brooklyn,Flatlands,40.62646,-73.92754,Private room,40,1,0,NaN,NaN,2,179,2,109,0.126744
49724,49724,32842343,Prime Location 5BR Designer Loft! SoHo/TriBeCa!,234651537,Jemmil,Manhattan,Tribeca,40.72033,-74.00441,Entire home/apt,2999,2,0,NaN,NaN,2,365,5,517,0.601163
49725,49725,32843175,A spacious Bedroom with Washer & Dryer unit,144863350,Keith,Manhattan,Harlem,40.81361,-73.95294,Private room,60,1,0,NaN,NaN,1,0,5,612,0.711628
49726,49726,32843179,"Sunny, Stylish, Bedstuy 2 Bedroom with Plants",21001651,Tierney,Brooklyn,Bedford-Stuyvesant,40.69346,-73.94907,Entire home/apt,125,2,0,NaN,NaN,2,20,5,280,0.325581
49727,49727,32843535,Sunny stylish room in bedstuy brownstone w/ desk,21001651,Tierney,Brooklyn,Bedford-Stuyvesant,40.69244,-73.95064,Private room,75,2,0,NaN,NaN,2,51,5,257,0.298837
49728,49728,32844072,Private room with balcony,80933709,Jacqueline,Queens,East Elmhurst,40.76292,-73.87906,Private room,55,5,0,NaN,NaN,2,174,2,101,0.117442
49729,49729,32844370,"Cozy & Modern, 1 bed apt in Hell’s Kitchen!!",4087531,Isabel,Manhattan,Hell's Kitchen,40.76354,-73.98639,Entire home/apt,177,3,0,NaN,NaN,1,3,5,772,0.897674
49730,49730,32844534,Sun filled Large Bedroom,188680034,Alyse,Manhattan,East Harlem,40.79389,-73.94478,Private room,75,2,0,NaN,NaN,1,14,5,573,0.666279
49731,49731,32844884,Place like home,244217586,Rajwinder,Queens,Jamaica,40.70907,-73.79276,Entire home/apt,90,1,0,NaN,NaN,1,5,5,322,0.374419
49732,49732,32845010,Private 2 Bedroom APT Close to City & Expressway,139238261,Ilya,Queens,Fresh Meadows,40.73428,-73.79019,Entire home/apt,99,3,0,NaN,NaN,1,365,1,23,0.026744
49733,49733,32845078,NEW GREAT CLEAN SUNNY 1B APT PRIME LOCATION!,246680134,Anastasiia,Manhattan,Murray Hill,40.74527,-73.97135,Entire home/apt,200,3,0,NaN,NaN,1,51,4,112,0.130233
49734,49734,32845331,Brooklyn sun kissed studio apartment!,242924411,Laureta,Brooklyn,Bedford-Stuyvesant,40.68523,-73.95389,Entire home/apt,90,1,0,NaN,NaN,3,54,5,298,0.346512
49735,49735,32845516,Brooklyn stylish studio apartment!,242924411,Laureta,Brooklyn,Bedford-Stuyvesant,40.68523,-73.95389,Entire home/apt,90,1,0,NaN,NaN,3,22,5,298,0.346512
49736,49736,32845560,Large authentic NYC true 1 Bedroom,23719170,Maryam,Manhattan,Midtown,40.75799,-73.96357,Entire home/apt,150,4,0,NaN,NaN,1,72,5,331,0.384884
49737,49737,32845716,3 Bedroom Artist Loft in Williamsburg Prime,1019963,Renzo,Brooklyn,Williamsburg,40.71733,-73.96049,Entire home/apt,349,2,0,NaN,NaN,1,122,5,256,0.297674
49738,49738,32845883,Shared room for Guys Only!!!!,51596474,Sam,Brooklyn,Gravesend,40.58585,-73.96870,Shared room,25,10,0,NaN,NaN,18,365,4,90,0.104651
49739,49739,32846124,Private Room with Private Bathroom and Entrance,4279362,Juliette,Brooklyn,Bedford-Stuyvesant,40.68378,-73.95111,Private room,80,3,0,NaN,NaN,1,354,5,376,0.437209
49740,49740,32847003,IVORY COAST ROOM\nIs your home away from home,145878384,Denise,Brooklyn,Crown Heights,40.67283,-73.93059,Private room,70,5,0,NaN,NaN,5,293,5,479,0.556977
49741,49741,32847511,Luxurious 1BR Gorgeous City View High Elevation,247118366,Paul,Manhattan,Theater District,40.76156,-73.98556,Entire home/apt,260,2,0,NaN,NaN,1,341,5,860,1.000000
49742,49742,32847771,midtown new luxary,96750238,Edward,Manhattan,Hell's Kitchen,40.76748,-73.99151,Private room,90,5,0,NaN,NaN,1,173,4,316,0.838196
49743,49743,32848199,"Cozy, Confortable and Nice place in Bay Ridge",246910562,Stefany,Brooklyn,Bay Ridge,40.63114,-74.02529,Private room,53,1,0,NaN,NaN,1,174,5,182,0.482759
49744,49744,32849284,Chic Studio in Williamsburg,6657574,Gene,Brooklyn,Williamsburg,40.71262,-73.95842,Entire home/apt,149,2,0,NaN,NaN,3,346,5,318,0.843501
49745,49745,32849527,Designer Apt Next 538 acres Park Near JFK and LG,151282236,Sigrid,Queens,Richmond Hill,40.70162,-73.84071,Entire home/apt,95,1,0,NaN,NaN,1,79,4,22,0.058355
49746,49746,32850062,Master Bedroom for 3 guests heart of East Vill...,95892016,Leonora,Manhattan,Stuyvesant Town,40.73008,-73.97776,Private room,150,1,0,NaN,NaN,7,104,5,294,0.779841
49747,49747,32858895,Live like a true New Yorker!,8454981,Artez,Manhattan,Hell's Kitchen,40.75711,-73.99796,Entire home/apt,150,3,0,NaN,NaN,1,47,5,377,1.000000